
.DS_Store
.DS_Store
.idea/modules.xml
.idea/SQL_Projects.iml
.idea/workspace.xml
SQlalchemy_practice/config.py
SQlalchemy_practice/__pycache__/config.cpython-312.pyc
SQlalchemy_practice/config.py
SQlalchemy_practice/config.py
SQlalchemy_practice/config.py
SQlalchemy_practice/config.py
SQlalchemy_practice/config.py
SQlalchemy_practice/config.py
SQlalchemy_practice/.idea/modules.xml
SQlalchemy_practice/.idea/SQlalchemy_practice.iml
SQlalchemy_practice/.idea/workspace.xml
